
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="nav nav-pills flex-column bg-info p-2">
    <li class="nav-item"><a class="nav-link text-white m-2" id="profile" asp-controller="user" asp-action="profiledata">Profile</a></li>
    <li class="nav-item"><a class="nav-link text-white m-2" id="change-password" asp-controller="user" asp-action="changepassword">Password</a></li>
</ul>