@model Eimt.Application.Services.Dtos.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
}

<h2>Forgot Password</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" id="forgotPasswordEmail" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="forgotPasswordBtn" value="Reset" class="btn btn-primary" />
            </div>
            <div id="forgotPasswordContent"></div>
        </form>
    </div>
</div>



@section Scripts {
<script src="~/js/ForgotPassword.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
