@model IEnumerable<Eimt.Application.Services.ViewModels.UserDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pb-3 mt-2 text-center">Users</h1>
<div class="row">
</div>
<section id="edit-user">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="edit-user-body" class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="save-changes" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>
<table id="empoyees" class="table table-hover  table-striped table-secondary">
    <thead class="bg-info">
        <tr>
            <th>Info</th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sector)
            </th>

            <th>Edit/Delete</th>
        </tr>
    </thead>
</table>
@section Scripts{ 
    <script src="~/js/table.js"></script>
    <script>
        $("#save-changes").on('click', function () {
            var roles = $("#current-roles").val();
            var sector = $("#sector-select").val();
            console.log(roles);
            console.log(sector);
        });
    </script>
}