
#chat {
    height: 65vh;
    box-shadow:0 0 2px 2px rgba(0,0,0,.2);
}
#chat-history {
    height: calc(60vh - 30px);
    background: #CCC;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
}
#chat-control {
    max-height: calc(60vh - 30px);
    overflow-y: scroll;
    height:80%;
    background:#ddd;
}
.chat-name {
    border-bottom:1px solid #999;
    text-align:center;
    padding: 10px 20px;
    margin:0;
}
.chat-name:hover {
        background: #1d78e8;
        color: white;
    }
.chat-form {
    height: 30px;
    width:100%;
}
.chat-active {
    color: white;
    background: #17a2b8;
}
.chat-message {
    border-radius: 20px;
    padding: 5px 20px;
    display: inline-block;
    max-width: 500px;
    word-wrap: break-word;
    margin: 5px 0;
}
.chat-message-passive {
    background: #fff;
}
.chat-message-active {
    background: #346cf1;
    color:white;
    float:right;
}

    .footer {
        padding: 20px;
    }
.alert {
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 100px;
    left: 500px;
    transition: all ease-out 300ms;
}
#notification-bell{
    cursor:pointer;
    position:relative;
}
.notification-number {
    display:inline-block;
    position: absolute;
    background: #ff0000;
    color: #fff;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 15px;
    margin-bottom:5px;
}
.info {
    position: relative;
    font-size: 2em;
    cursor: pointer;
}
.info-display{
    font-size:16px;
    height:auto;
    width:150px;
    background:black;
    color:#fff;
    position:absolute;
    top:-20px;
    left:0;
    text-align:center;
    z-index:100;
}
    .info-display span{
        display:block;
    }
    .info-display::after {
        content: " ";
        transform: rotate(45deg);
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -10px;
        left: 15px;
        z-index: 0;
        background: black;
    }